:root {
    --main-background-color: #0E989F;
    --color-text-rooms-and-services: rgb(163, 162, 162);
    --second-colo-text: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* start header */

@media (max-width: 600px) {
    #nav-list {
        display: inline-block;
    }

    #header {
        position: relative;
        width: 100%;
        text-align: center;
    }

    .closed {
        display: none;
    }

    #open-menu {
        position: absolute;
        top: 40px;
        right: 40px;
    }
}

@media (min-width: 601px) {
    #nav-list {
        display: flex;
    }

    .nav-item::before {
        content: "";
        margin-right: 5px;
        border-left: 4px solid var(--main-background-color);
    }

    #header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-item:hover:not(.this-page) {
        border-top: 4px solid var(--main-background-color);
        background-color: rgba(0, 0, 0, 0.2);
    }

    #open-menu {
        display: none;
    }
}

#header {
    clear: both;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    
}

#logo {
    width: 200px;
}

.img-logo {
    height: 60px;
    width: 60px;
}

.text-logo {
    color: var(--main-background-color);
    font-size: 24px
}

.nav-item {
    padding: 30px;
    cursor: pointer;
    border-top: 4px solid transparent
}

#nav-list > a {
    text-decoration: none;
    color: black;
}

.this-page {
    color: var(--main-background-color);
}

/* end header */

/* start footer */

@media (max-width: 600px) {

    .footer-contends {
        grid-template-rows: 100px 150px 250px 300px;
        justify-items: center;
    }
}

@media (min-width: 601px) {
    .footer-contends {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 50px;
    }
}

#footer {
    display: inline-block;
    width: 100%;
    background-color: #3E454C;
}

.footer-contends {
    display: grid;
    color: var(--second-colo-text);
}

.footer-h2-titel {
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-contends > div > p {
    font-size: 12px;
}

.footer-contacts > p {
    margin-bottom: 10px;
}

.footer-contacts > p::before {
    content: "";
    display: inline-block;
    height: 1em;
    width: 1em;
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.footer-contacts-number::before {
    background-image: url("../img/main/footer/phone-call.png");
}

.footer-contacts-addres::before {
    background-image: url("../img/main/footer/pin-mark.png");
}


.footer-contacts-email::before {
    background-image: url("../img/main/footer/email.png");
}

.footer-gallery-area {
    display: grid;
    grid-template-columns: 80px 80px 80px;
    gap: 10px;
}

.footer-gallery-img {
    position: relative;
    cursor: pointer;
}

.footer-gallery-img > img {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.footer-legend {
    display: none;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.footer-gallery-img:hover > .footer-legend {
    display: block;
}

.footer-legend > p{
    text-align: center;
    font-size: 12px;
    transform: translate(0,20%);
    height: 100%;
}

.footer-write-to-us-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.input-style {
    border: 1px solid var(--second-colo-text);
    background: none;
    text-decoration: none;
    color: var(--second-colo-text);
    width: 200px;
}

.footer-form-email {
    margin-bottom: 10px;
    height: 20px;
}

.footer-form-textarea {
    margin-bottom: 10px;
    height: 50px;
    resize: none;
}

.footer-form-submit {
    font-size: 16px;
    cursor: pointer;
    color: var(--second-colo-text);
    border: none;
    background: none;
    padding: 10px;
    border-radius: 50px;
}

.footer-form-submit:hover {
    color: black;
    background-color: var(--second-colo-text);
}
/* end footer */
