:root {
    --main-background-color: #0E989F;
    --color-text-rooms-and-services: rgb(163, 162, 162);
    --second-colo-text: white;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* start main */

/* start welcome-screen */

#main {
    display: inline-block;
}

@media (max-width: 600px) {
    .welcome-img {
        height: 800px;
        width: 100%;
    }

    #welcome-screen {
        height: 800px;
    }

    .welcome-block {
        top: 50%;
        height: 450px;
        width: 300px;
        left: 50%;
        padding: 2px;
        transform: translate(-50%, -50%);
    }

    .welcome-block-text-invitations {
        font-size: 20px;
    }
    .welcome-block-text-term {
        font-size: 12px;
        margin-bottom: 150px;
    }
}

@media (min-width: 601px) {
    .welcome-img {
        height: 750px;
        width: 100%;
    }

    #welcome-screen {
        height: 750px;
    }

    .welcome-block {
        top: 100px;
        right: 50px;
        height: 400px;
        width: 900px;
    }

    .welcome-block-text-invitations {
        font-size: 36px;
    }
    .welcome-block-text-term {
        font-size: 20px;
        margin-bottom: 150px;
    }
}

.welcome-block {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    text-align: end;
    font-weight: bold;
}

#welcome-screen {
    position: relative;
    width: 100%;
}


.welcome-block-text-invitations {
    color: var(--second-colo-text);
    line-height: 50px;
}
.welcome-block-text-term {
    color: var(--second-colo-text);
    line-height: 50px;
}

.demarcation-line-welcome-screen {
    width: 90%;
    margin-bottom: 40px;
}

.welcome-screen-button {
    background-color: var(--main-background-color);
    text-decoration: none;
    color: var(--second-colo-text);
    padding: 10px;
    border-radius: 100px;
    margin-right: 40px;
}

.welcome-screen-button:hover {
    background-color: black;
}

/* end welcome-screen */

@media (max-width: 600px) {
    .demarcation-line {
        width: 8%;
    }
}

@media (min-width: 601px) {
    .demarcation-line {
        width: 2%;
    }
}

.demarcation-line {
    background-color: var(--main-background-color);
    height: 3px;
    margin-bottom: 20px;
    border: none;
}

.section-titles {
    color: var(--main-background-color);
    font-size: 28px;
    text-align: center;
}

.wrap-div {
    height: 40px;
    width: 40px;
}


/* start why-are-we */

#why-are-we {
    min-height: 1rem;
}

#why-are-we-content {
    display: flex;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#why-are-we-content > div {
    text-align: center;
    width: 300px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
}

#why-are-we-content > div > img {
    height: 120px;
    margin-bottom: 20px;
}

/* end why-are-we */

/* start rooms-and-services */

@media (max-width: 600px) {
    #rooms-and-services-content {
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 601px) {
    #rooms-and-services-content{
        margin: 100px 100px 0px 100px;
        justify-content: space-evenly;
    }
}

#rooms-and-services {
    min-height: 1rem;
    background-color: #F0F0F0;
}

#rooms-and-services-content {
    display: flex;
}

#rooms-and-services-content > figure {
    height: 500px;
    width: 250px;
    background-color: #fff;
    margin-bottom: 5%;
}

.room-preview {
    height: 150px;
    width: 250px;
}

.room-type {
    color: black;
    text-align: center;
    margin: 20px;
}

.demarcation-line-content {
    width: 80%;
    height: 1px;
    background-color: var(--color-text-rooms-and-services);
    border: none;
}

.room-information {
    position: relative;
    text-align: center;
    height: 250px;
}

.room-information > p {
    color: var(--color-text-rooms-and-services);
    margin-bottom: 20px;
}

.room-type {
    height: 30px ;
}

.book-a-room {
    position: absolute;
    color: var(--second-colo-text);
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
    background-color: black;
    text-decoration: none;
}
/* end rooms-and-services */

/* start learn-more-about-us */ 
@media (max-width: 600px) {
    #learn-more-about-us-content {
        flex-direction: column;
        align-items: center;
        padding-bottom: 30px;
    }

    .hotel-hotol {
        margin-top: 35px;
    }

    .hotel-hotol > img {
        height: 200px;
    }
}

@media (min-width: 601px) {
    #learn-more-about-us-content {
        margin: 0 auto;
        margin-top: 50px;
        height: 500px;
        width: 1200px;
    }

    .hotel-hotol {
        clear: right;
    }

    .hotel-hotol > img {
        height: 400px;
    }
}

#learn-more-about-us {
    position: relative;
    min-height: 1rem;
    background-color: var(--main-background-color);
}

.demarcation-line.white {
    background-color: var(--second-colo-text);
}

.color-white {
    color: var(--second-colo-text);
}

#learn-more-about-us-content {
    display: flex;
}

.hotel-information {
    color: var(--second-colo-text);
    font-size: 12px;
    margin-left: 20px;
    line-height: 20px;
}

.hotel-information > p {
    margin-bottom: 10px;
}

.bold {
    font-weight: bold;
}

.our-help {
    margin: 10px;
}

.our-help > li::before {
    content: "";
    display: inline-block;
    text-align: center;
    height: 1em;
    width: 1em;
    border-radius: 2px;
    background-position: center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    margin-right: 5px;
    background-image: url("../img/main/learn-more-about-us/check.png");
}

.learn-more-about-us-content-button {
    text-decoration: none;
    color: var(--second-colo-text);
    padding: 10px;
    border: solid white 1px;
    border-radius: 20px;
}
/* end learn-more-about-us */

/* end main */