html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* index.html */


:root {
    --main-background-color: #0E989F;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 125px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

#logo {
    width: 200px;
}

.img-logo {
    height: 60px;
    width: 60px;
}

.text-logo {
    color: var(--main-background-color);
    font-size: 24px
}

#nav-list {
    display: flex;
}


.nav-item {
    padding: 30px;
    cursor: pointer;
}

.nav-item::before {
    content: "";
    margin-right: 5px;
    border-left: 4px solid var(--main-background-color);
}

.nav-item:hover {
    border-top: 4px solid var(--main-background-color);
    background-color: rgba(0, 0, 0, 0.2);
}

/* start main */

/* start welcome-screen */

#welcome-screen {
    position: relative;
    height: 100vh;
    width: 100%;
}

.img-zone {
    width: 100%;
}

.welcome-img {
    height: 100vh;
    width: 100%;
}

.welcome-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    height: 400px;
    width: 900px;
    text-align: end;
    font-weight: bold;
    
}

.welcome-block-text-invitations {
    font-size: 36px;
    color: white;
    line-height: 50px;
}
.welcome-block-text-term {
    font-size: 20px;
    color: white;
    margin-bottom: 150px;
    line-height: 50px;
}

.demarcation-line-welcome-screen {
    width: 90%;
    background-color: azure;
    margin-bottom: 40px;
}

.welcome-screen-button {
    background-color: var(--main-background-color);
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 100px;
    margin-right: 40px;
}

.welcome-screen-button:hover {
    background-color: black;
}

/* end welcome-screen */


.demarcation-line {
    background-color: var(--main-background-color);
    width: 2%;
    height: 3px;
    margin-bottom: 20px;
    border: none;
}

.why-are-we-text {
    color: var(--main-background-color);
    font-size: 28px;
    text-align: center;
}

.wrap-div {
    height: 40px;
    width: 40px;
}


/* start why-are-we */

#why-are-we {
    min-height: 100vh;
}

#why-are-we-content {
    display: flex;
    gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#why-are-we-content > div {
    text-align: center;
    width: 300px;
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
}

#why-are-we-content > div > img {
    height: 120px;
    margin-bottom: 20px;
}

/* end why-are-we */

/* start rooms-and-services */

#rooms-and-services {
    min-height: 100vh;
    background-color: #F0F0F0;
}

#rooms-and-services-content {
    display: flex;
    margin: 100px 100px 0px 100px;
    justify-content: space-evenly;
}

#rooms-and-services-content > div {
    background-color: aqua;
    height: 500px;
    width: 250px;
}

.room-preview {
    height: 150px;
    width: 250px;
}

.room-type {
    color: black;
    text-align: center;
    margin: 20px;
}

.demarcation-line-content {
    width: 80%;
    height: 1px;
    background-color: silver;
    border: none;
}


/* end rooms-and-services */

/* start learn-more-about-us */ 
#learn-more-about-us {
    min-height: 100vh;
    background-color: var(--main-background-color);
}

.demarcation-line.white {
    background-color: white;
}

.coloro-white {
    color: white;
}
/* end learn-more-about-us */

/* end main */